/* TODO Add site wide styles */
button {
  width: 60px;
  height: 40px;
  background-color: greenyellow;
  color: darkblue;
  border-radius: 10px;
  margin: 100px 10px 0 10px;
}

.sound-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  padding: 20px;
} */
