/* TODO Add site wide styles */

.container {
  display: flex;
  flex-direction: row;
}

.left {
  width: 25%;
  padding-top: 100px;
}

.right {
  width: 75%;
  display: flex;
  justify-content: center;
}

button {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  background-color: rgb(217, 228, 199);
  color: darkblue;
  border-radius: 10px;
  margin: 100px 10px 0 10px;
}

.sound-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  padding: 20px;
} */
